# Java Builds
target/
build/
bin/
.classpath
.project
.settings/

*workspace
.DS_Store
.idea/
blog-app.iml

# WebUI dependencies
bower_components/
node_modules/
public
.bowerrc
src/resources/static/bower_components

#System Files
**/.DS_Store
**/.project
**/.settings
**/.classpath
**/.metadata
**/Thumbs.db
