# Java Builds
target/
build/
bin/
.classpath
.project
.settings/

*workspace
.DS_Store
.idea/

# WebUI dependencies
bower_components/
.bowerrc
src/resources/static/bower_components

#System Files
**/.DS_Store
**/.project
**/.settings
**/.classpath
**/.metadata
**/Thumbs.db
