<div ng-show="authenticated">

    <div class="add-post">
        <h2>
            <a href="#">Add New Post</a>
        </h2>
        <form class="form-post" role="form" ng-submit="addPost(post)">
            <h4 href="#">Title</h4>
            <input name="title" type="text" ng-model="post.title"/>
            <h4 href="#">Body</h4>
            <textarea name="content" ng-model="post.content" ng-list="/\n/" rows="10"></textarea>

            <div class="bottom-section">
                </br>
                <fieldset class="form-group">
                    <input type="submit" class="btn btn-primary pull-right" value="Submit Post"/>
                </fieldset>
            </div>

        </form>
    </div>

</div>

<div ng-show="!authenticated">

    <div ng-include src="'/partials/login.html'"></div>

</div>
